<ion-view view-title="Sistem Informasi Layanan Peminjaman BAAK">
<ion-content>


<!--<div class="list">
<label class="item item-input">
    <i cass="icon ion-search placeholder-icon"></i>
    <input type="text"
    placeholder="Search"
    ng-model="query.q",
    ng-change="loadProducts()">
</label>

  <a ng-repeat="item in products"
    
    class="item item-thumbnail-left">    
    <img ng-src="{{item.images[0]}}" />
    <div class="product_name">{{ item.name }}</div>
    <div class="product_price">$ {{ item.price }}</div>
    
  </a>
</div>!-->


<h3 style="padding-top: 20px;">Sistem Informasi Pelayanan BAAK</h3>
<br>
<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div><img class="img-responsive" src="img/bg.jpg" height="400" width="800"/></div>
  </ion-slide>
  <ion-slide>
    <div><img class="img-responsive" src="img/img2.png" height="400" width="800" /></div>
  </ion-slide>

<ion-slide ng-repeat="image in images">
   <img ng-src="{{image.MediaUrl}}" style="width:300px;height:300px;margin:auto;display:block" >
</ion-slide>
</ion-slide-box>
<!--<div id="slider1" class="csslider infinity">
  <input type="radio" name="slides" id="slides_1"/>
  <input type="radio" name="slides" checked="checked" id="slides_2"/>
  <input type="radio" name="slides" id="slides_3"/>
  <input type="radio" name="slides" id="slides_4"/>
  <input type="radio" name="slides" id="slides_5"/>
  <input type="radio" name="slides" id="slides_6"/>
  <ul>
    <li>
      <h1>Selamat Datang</h1>
      <p>Di Sistem Informasi Peminjaman Properti BAAK</p>
    </li>
    <li><img src="img/bg.jpg" height="400" width="800" />
    </li>
    <li>
      <div id="bg">
        <div>
          <h1>Infocus</h1>
          <p>When slide 3 is reached - Tes</p>
        </div>
      </div>
    </li>
    <li class="scrollable">
      <h1>Bantuan</h1>
      <h2></h2>
      <p>
        Silahkan Memilih Properti yang akan di pinjam,
        dengan memilih menu disamping
      </p>
    </li>
    <li>
      
    </li>
    <li>
      <div id="center"><a id="dex-sign" href="http://drygiel.com" target="_blank" class="play"></a></div>
    </li>
  </ul>
  <div class="arrows">
    <label for="slides_1"></label>
    <label for="slides_2"></label>
    <label for="slides_3"></label>
    <label for="slides_4"></label>
    <label for="slides_5"></label>
    <label for="slides_6"></label>
    <label for="slides_1" class="goto-first"></label>
    <label for="slides_6" class="goto-last"></label>
  </div>
  <div class="navigation"> 
    <div>
      <label for="slides_1"></label>
      <label for="slides_2"></label>
      <label for="slides_3"></label>
      <label for="slides_4"></label>
      <label for="slides_5"></label>
      <label for="slides_6"></label>
    </div>
  </div>
!-->

</ion-content>
</ion-view>