
<ion-view view-title="Peminjaman">
   <ion-content>   
      
      <div ng-hide="cart.items.length === 0">
      
      <!--<div class="padding"><button class="button button-red button-block" ng-click="update()"><span class="ion ion-loop"></span> Update</button></div>-->
      <div class="padding" ng-show="cart.items.length > 0">
        <a class="button button-positive button-block" href="#/app/checkout"><span class="ion ion-android-done-all"></span> Checkout</a>
      </div>
      </div>
      <div ng-show="cart.items.length === 0">
      <!--table-->


      <ion-list>
                <label class="item item-input">
                <input type="text" placeholder="Kode Peminjaman">
                </label>
                <label class="item item-input">
                <input type="text" placeholder="Nama Mahasiswa">
                </label>
                <label class="item item-input">
                <input type="text" placeholder="Nama Barang">
                </label>
                <button class="button button-small">Submit</button>
      </ion-list>
    </ion-content>
</ion-view>